// Define variables for your color scheme

// For example:
$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$yellow: #FFF000;
$red: #DD0000;
$blue-seaweed: #087E8B;
$blue-prussian: #0B3954;
$white: #FFF;
