<%= simple_form_for([@article, @favorite]) do |f| %>
  <%= f.input :note %>
  <%= f.input :user_sentiment %>
  <p style="display: flex;justify-content: center;"><strong><%= link_to "Create", article_favorites_path, method: :post %></strong></p>
<% end %>
