// #favorite-container {
//   width: 80%;
//   display: flex;
//   flex-direction: column;
// }
#dashboard-avatar-img {
  height: 320px
}

.favorite-header {
  display: flex;
  width: 100%;
  background-color: black;
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
  color: #F4F4F4;
  height: 25px;
}

.favorite {
  display: flex;
  width: 100%;
  background-color: white;
  border: 1px solid gray;
  margin: 20px;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  color: black;
  box-shadow: 0px 0px 8px #888888;
}

.favorite-header-text {
  border-right: 3px solid #F4F4F4;
  height: 25px;
  padding-right: 45px;
}

.favorite-article-img {
  height: 60px;
}

.favorite-link-div {
  height: 25px;
}

.favorite-note-div {
  height: 25px;
}

.favorite-note-button {
  background-image: linear-gradient(to bottom right, #517FFF, #84D3F4);
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid gray;
  color: #FFEDED;
}

.favorite-delete-button {
  background-image: linear-gradient(to bottom right, #E3170A, #FF5A51);
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid gray;
  color: #FFEDED;
}

a {
  text-decoration: none; /* no underline */
  color: black;
}

a:hover {
  text-decoration: none; /* no underline */
  color: gray;
}
