// #favorite-container {
//   width: 80%;
//   display: flex;
//   flex-direction: column;
// }

#favorite-title {
  margin: 15px 10px;
}

#dashboard-avatar-img {
  height: 240px;
  margin-top: 76px;
  border-radius: 50%;
  border: 1px solid gray;
}

.favorite {
  width: calc(50% - 20px);
  background-color: white;
  border: 2px solid black;
  border-top-width: 6px;
  margin: 10px;
  color: black;

  p {
    margin: 0;
  }
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
}

.favorite-header-text {
  border-right: 3px solid #F4F4F4;
  padding-right: 45px;
}

.favorite-article-img {
  height: 60px;
  margin-right: 20px;
}

.favorite-note-div {
  padding: 0px 20px 20px 20px;
}

.favorite-note-button {
  background-image: linear-gradient(to bottom right, #517FFF, #84D3F4);
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid gray;
  color: #FFEDED;
}

.favorite-delete-div {
  display: flex;
  justify-content: flex-end;
}

.favorite-delete-button {
  text-align: right;
  margin: 1px;
  width: 12px;
  font-size: 20px;
  margin-right: 12px;
}

a {
  text-decoration: none; /* no underline */
  color: black;
}

a:hover {
  text-decoration: none; /* no underline */
  color: gray;
}

.favorite-article {
  padding: 20px;
  background: #f4f4f4;
  display: flex;

}

#left-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

#dashboard-avatar-name {
  margin: 16px 0px;
}

#edit-profile-button {
  background-color: black;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid gray;
  color: #FFEDED;
}

#edit-profile-button:hover {
  background-color: #393D3F;
}

#favorite-container li {
  cursor: grab;
}

#favorite-container li:active {
  cursor: grabbing;
}

#favorite-container li.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}

.list-container {
  border-style: solid;
  justify-content:center;
}

.list-categories {
  display: flex;
  justify-content: space-evenly;
}

.logout-button {
  margin: 10px;
}

.js-note-field {
  border: none;
}

.js-note-field:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:focus {
    outline:none;
}

input[type=text]:focus, textarea:focus {
  box-shadow: none;
  border: none;
}

.js-note-field:focus {
      outline: none;
      }
