.news-section {
  position: relative;
  height: calc(100vh - 60px);

  &:before {
    content: '';
    background: url('https://res.cloudinary.com/thetravelusts/image/upload/v1583930872/Vestigium/17580_ncdjfk.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

#loading-screen {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url('https://res.cloudinary.com/thetravelusts/image/upload/v1583977315/Vestigium/Ripple-1.3s-254px_uewnfe.gif');
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  z-index: 10;

  h5 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(#6c6c6c, 0.5);
  }
}

#search-field-div {
  // display: flex;
  // width: 300px;
  position: relative;
  // top: 60px;
  // left: 10%;
  // z-index: 10;

  input {
    background: transparent;
  }
}

// Added by Nikolai
#search-field {
    background-color: #fff;
    border: none;
    border-bottom: 5px solid #091f2f;
    border-radius: 0;
    color: black;
    font-family: $body-font;
    font-size: 18px;
    height: 70%;
    letter-spacing: -1px;
    line-height: 1.3;
    padding: 0 50px 0 0;
    width: 100%;
    outline: none;
}

.corner-left {
  border-bottom-left-radius: 10px;
}
.corner-right {
  border-top-right-radius: 10px;
}
.btn-map {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

// Globe css
.globe-container {
  width: 66%;
  position: relative;
  background: linear-gradient(to top, #dddddd55, #dddddd55), url('https://res.cloudinary.com/thetravelusts/image/upload/v1583374503/Vestigium/kissclipart-globe-world-sphere-black-and-white-interior-design-04be6e94b840f1aa_grtyz1.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.keywords-container {
  width: 300px;
  height: 300px;
  background: black;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 80%;
  right: 10px;

  .keyword {
    display: block;
    background: transparent;
    color: red;
  }
}


// 3D css
#three-container {
  background: #fff;
  width: 100%;
  // height: calc(100vh - 80px);
  // border: 2px solid red;
}

#three-menu {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.onlyColor {
  width: 0px !important;
}

.element {
  width: 300px;
  height: 340px;
  padding-top: 0px;
  background: #fff;
  box-shadow: 0px 0px 10px #7b082855;
  // border: 1px solid #7b082877;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  border-top-left-radius: 50% 10%;
  border-top-right-radius: 50% 10%;
  font-family: $body-font, sans-serif;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: width 1s ease;

  &:hover {
    background-color: #fff;
    box-shadow: 0px 0px 12px rgba(#d00000,0.75);
    // border: 1px solid $blue-seaweed;
    cursor: pointer;
  }
}


.element .title {
  text-align: center;
  position: relative;
  margin-bottom: 5px;
  padding: 0 5px;
  // top: 30px;
  // left: 0px;
  font-size: 12px;
  font-weight: bold;
  color: #4b4b4b;
}

.element .image {
  position: relative;
  // top: 70px;
  // left: 0px;
  width: 100%;
  margin-bottom: 10px;
}

.element .url {
  position: relative;
  // bottom: 10px;
  // left: 0px;
  font-size: 14px;
  color: #000;
}

.element .details {
  padding: 0 5px;
  position: relative;
  // bottom: 30px;
  // left: 0px;
  font-size: 10px;
  color: #808080;
}
