<div class="main-home-container globalMap-section">


  <!-- <button type="button" class="btn btn-primary" style="z-index: 10;" onclick="initializeGlobalMap()">
              More info
        </button>-->

    <div id="earth_div"></div>

</div>

<script src="//www.webglearth.com/v2/api.js"></script>
<%= javascript_pack_tag 'global_map' %>
