<div class="main-home-container">

  <div class="one-third">
    <div class="feature-text-container">
      <div class="feature-text">Featured Articles ______________</div>
      <div class="feature-title">How are you reading your news everyday?</div>
      <div class="feature-title">Nizzle interdum volutpat mofo. </div>
    </div>
    <a href="#" class="red-square">
      <div class="square-text">The different in something important </div>
      <div class="overlay-text">NewsPaper</div>
      <div class="overlay-text next">NewsPaper</div>
      <div class="overlay-text last">NewsPaper</div>
    </a>
  </div>

  <div class="two-third">
    <div class="square-container">
      <a href="#" class="black-square">
        <div >
          <h3>Go to our page</h3>
          <h6>We are specialize in globing stuff</h6>
        </div>
      </a>
      <a href="#" class="white-square">
        <div >
          <h3>Go to our next page</h3>
          <h6>We are the boring guys, not much to say</h6>
        </div>
      </a>
    </div>
  </div>



</div>


<!--
  <button type="button" class="btn btn-info"><%#= link_to 'Start Now', new_user_session_path %></button>
  <h1>Vestigium</h1>
  <h2>Pages#Landing</h2>

  <p>Find me in app/views/pages/home.html.erb</p> -->
