<div class="main-home-container">

  <div class="one-third">
    <div class="feature-text-container">
      <div class="feature-text">Featured Articles ______________</div>
      <div class="feature-title">How are you reading your news everyday?</div>
    </div>
    <a href="#" class="red-square">
      <h6 class="square-text">Subsribe to our newsletter</h6>
      <div class="overlay-text first">NewsPaper</div>
      <div class="overlay-text next">NewsPaper</div>
      <div class="overlay-text last">NewsPaper</div>
    </a>
  </div>

  <div class="two-third">
    <div class="feature-text-container">
      <div class="feature-title">We offer a way to keep track of breaking news around you.</div>
      <div class="feature-text"> ____________________________</div>
    </div>
    <a href="/news_main" class="red-tag">
      <h6>Start reading now <i class="far fa-paper-plane"></i></h6>
    </a>
    <div class="square-container">
      <a href="/users/sign_up" class="black-square">
        <div >
          <h3>Sign up</h3>
          <h6>or Login if you already have an account</h6>
        </div>
      </a>
      <a href="/news_search" class="white-square">
        <div >
          <h3>Search for News?</h3>
          <h6>Click here</h6>
        </div>
      </a>
    </div>
  </div>



</div>


<!--
  <button type="button" class="btn btn-info"><%#= link_to 'Start Now', new_user_session_path %></button>
  <h1>Vestigium</h1>
  <h2>Pages#Landing</h2>

  <p>Find me in app/views/pages/home.html.erb</p> -->
