<div class="container">
  <h1> Main Page</h1>

<section>
  <h2>Nav bar</h2>
</section>

<hr/>
<!--
<section class="keyword-tags-section">
  <div class="taglist" style="display: flex;">
    <div class="flash" style="display: flex; margin: 2px;">
      <a class="post-tag js-gps-track" href=""><strong>SearchTag</strong></a>
      <a data-dismiss="alert" aria-label="Close">
        <i class="fas fa-times"></i>
      </a>
   </div>
   <div class="flash" style="display: flex; margin: 2px;">
      <a class="post-tag js-gps-track" href=""><strong>SearchTag</strong></a>
      <a data-dismiss="alert" aria-label="Close">
        <i class="fas fa-times"></i>
      </a>
   </div>
  </div>
</section>

<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
  </div>
</form>

<section>

  <h2>Article</h2>
    <div class="article">
      <h2 class="article-headline">Search for passengers exposed to coronavirus case  on flight to Sydney</h2>
      <h3 class="article-source">The Sydney morning herald</h3>
      <div class="article-photo">
        <img class="article-photo-image" src="" alt="">
        <div class="article-photo-caption"> A dog in playing</div>
      </div>
      <div class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan nunc in erat hendrerit pharetra. Donec finibus est in turpis sagittis, laoreet eleifend nisi vestibulum.</div>
    </div>
</section>

<hr/>

<section>
  <h2>Map</h2>
</section>
 -->
