<div class="main-home-container news-section">

  <div id="search-field-div">
      <input type="text" name=search-field id=search-field placeholder="Search...">
      <button id="search-button">Search</button>
  </div>

  <div class="news-container">
    <div class="feature-text-container">

    </div>
    <a href="#" class="keywords-container">

    </a>
  </div>

  <div class="globe-container">
    <div class="tags-container">
      <a href="#" class="tag left-tag">
        Previous
      </a>
      <a href="#" class="tag right-tag">
        Next
      </a>
    </div>
  </div>


</div>
