<div class="main-home-container news-section">

  <div id="three-container"></div>
    <div id="three-menu">
      <button id="table">Spot</button>
      <button id="sphere">Sphere</button>
      <button id="grid">GRID</button>
      <button id='create' onclick="console.log('minh here'); console.log('hello');">Create</button>
    </div>

  <form id="search-field-div">
      <input type="text" name='search-field' id='search-field' placeholder="Search...">
      <button type='submit' id="search-button">Search</button>
  </form>

  <div id="modals-container"></div>

</div>


<%= javascript_pack_tag 'news_search' %>
<!-- <script src="packs/js/news_search.js">

</script> -->
