Hello!
<div class="container">

<section>
  <h2>Nav bar</h2>
</section>

<hr/>

<section>
  <h2>Article</h2>

  <div class="article">
    <h2 class="article-headline">Search for passengers exposed to coronavirus case  on flight to Sydney</h2>
    <h3 class="article-source">The Sydney morning herald</h3>
    <div class="article-photo">
      <img class="article-photo-image" src="" alt="">
      <div class="article-photo-caption"> A dog in playing</div>
    </div>
    <div class="article-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan nunc in erat hendrerit pharetra. Donec finibus est in turpis sagittis, laoreet eleifend nisi vestibulum.</div>
  </div>
</section>

<hr/>

<section>
  <h2>Map</h2>

  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</section>

<hr/>

<section>
  <h2>Search field</h2>
  <input type="text" name=search-field id=search-field placeholder="Search...">
  <button id="search-button">Search</button>
</section>

<hr/>

<section>
  <h2>Keyword tags</h2>
</section>

<hr/>

<section>
  <h2>user menu</h2>
</section>

<hr/>

<section>
  <h2>Card</h2>
</section>

<hr/>

<section>
  <h2>Form</h2>
</section>

<hr/>

<section>
  <h2>Textfield/password</h2>
</section>

<hr/>

<section>
  <h2>Tag search</h2>
</section>

<hr/>

<section>
  <h2>Typography</h2>
</section>

</div>
