.article {
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  background: white;

  .article-headline {
    font-size: 24px;
    font-weight: bold;
  }
  .article-source {

  }
  .article-photo {

  }
  .article-photo-image {

  }
  .article-photo-caption {

  }
  .article-body {

  }
}
