.modal-body {
  display: flex;
  flex-direction: column;
}


.we-pm-icon {
  // background-image: url('https://images-na.ssl-images-amazon.com/images/I/51a4c1eOl2L.png');
}

.we-pp {
  width: 200px;
}
